@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #004384;
  overflow-x: hidden;
}

/* bubble */
.bubble-background {
  position: relative;
  height: 810vh;
  /* width: 100%; */
   /* background-color: #000; */
  /* overflow: hidden; */
}

/* 泡の見た目 */
.bubble {
  position: absolute;
  bottom: -50px;
  background-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(255,255,255,0.2);
  animation: rising_bubbles 15s linear infinite;
  z-index: 2;
}

/* 泡の一番明るい部分を疑似要素で表現 */
.bubble::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(rgba(255,255,255, 0.5), transparent);
  border-radius: 50%;
}

/* 泡が上に浮かび上がっていくアニメーション */
@keyframes rising_bubbles {
  0% {
    transform: translatY(0);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-390vh);
    opacity: 0;
  }
}
/* bubble end */

h1 {
  font-size: 2.5rem;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

/* ビューポート幅が768px未満の場合に適用 */
@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

/* ビューポート幅が768px以上の場合に適用 */
@media (min-width: 768px) {
  h1 {
    font-size: 3.5vw;
  }

  h2 {
    font-size: 2.5vw;
  }

  p {
    font-size: 2vw;
  }
}

/* ビューポート幅が1200px以上の場合に適用 */
@media (min-width: 1200px) {
  h1 {
    font-size: 3vw;
  }

  h2 {
    font-size: 2vw;
  }

  p {
    font-size: 1.5vw;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}

.section_title {
  margin: 0 auto 2vh;
  text-align: center;
}

.wrapper1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.wrapper2 {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .wrapper2 {
    width: 100%;
  }
}

/* loading */
.loading {
  background-color: rgb(0, 66, 132);
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: back-anime 3s forwards 3.5s;
  z-index: 10000;
}

@keyframes back-anime {
  0% {
    background-color: rgb(0, 66, 132);
  }

  50% {
    background-color: #004284c0;
  }

  100% {
    background-color: #0042842d;
  }
}

.logo_box {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.logo_box img {
  width: 350px;
  height: 250px;
  opacity: 0;
  animation: logo-anime 2s forwards 3s;
}


@keyframes logo-anime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.monk {
  position: relative;
  bottom: 13vw;
  left: 0vw;
  animation: monk-anime 2s forwards;
  z-index: 2;
}

@keyframes monk-anime {
  0% {
    left: 100vw;
  }

  100% {
    left: 0vw;
  }
}

.monk img {
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
}

.monk img:nth-child(2) {
  animation: monk-anime2 1s forwards 1s;
}

@keyframes monk-anime2 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.bright_box {
  position: relative;
  height: 250px;
  right: 2%;
}

.bright {
  position: absolute;
  top: -3%;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 0, 0.9);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: expansion-anim 3s linear forwards 2s;
  opacity: 0;
}

.bright2 {
  position: absolute;
  top: -3%;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 0, 0.9);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: expansion-anim 3s linear forwards 2.5s;
  opacity: 0;
}

.bright3 {
  position: absolute;
  top: -3%;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 0, 0.9);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: expansion-anim 3s linear forwards 3s;
  opacity: 0;
}

@keyframes expansion-anim {
  0% {
    opacity: 1;
    transform: scale(0);
    background: rgba(255, 255, 0, 0.5);
  }

  70% {
    opacity: 1;
    transform: scale(25);
  }

  100% {
    opacity: 0;
    transform: scale(25);
    background: #0042845b;
  }
}


.loaded {
  animation: loading-end .5s forwards;
}

@keyframes loading-end {
  0% {
    background-color: #00428400;
    opacity: 1;
  }

  100% {
    background-color: #00428400;
    opacity: 0;
    display: none;
  }
}

/* loading end */

/* main-visual */
#main-visual {
  position: relative;
}

.link-button-area {
  position: absolute;
  top: 5%;
  right: 5%;
  transform: translate(-5%, -5%);
  width: auto;
  z-index: 2;
  display: inline-block;
  background-color: #ffffff;
  background-image: url(./img/icon/button/dolphin_icon_before.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top center;
  width: 10.981vw;
  height: 10.981vw;
  padding-top: 5.271vw;
  border-radius: 25%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-align: center;
  color: #004384;
  border: 8px solid #007bff;
  z-index: 9999;
}

.link-button-area p:nth-child(1) {
  margin-bottom: -10px;
}

.link-button-area:hover {
  background-image: url(./img/icon/button/Dolphin__icon_after.png);
  animation: bounce 0.5s ease infinite;
  /* アニメーションを追加 */
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 767px) {
  .link-button-area {
    width: 100px;
    height: 100px;
    padding-top: 48px;
  }
}

@media (min-width: 768px) and (max-width: 872px) {
  .link-button-area {
    width: 100px;
    height: 100px;
    padding-top: 40px;
  }
}

@media (min-width:873px) and (max-width:1199px) {
  .link-button-area {
    width: 120px;
    height: 120px;
    padding-top: 40px;
  }
}

.main-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.main img {
  opacity: 1;
  animation: none;
}

#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* information */
#information {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30vh;
  /* 高さをビューポートの30%に設定 */
  color: #fff;
  border-radius: 25px 25px 0 0;
  /* 上部に丸みを持たせる */
  background: linear-gradient(to bottom, rgba(122, 215, 240, 0.1) 0%, rgba(46, 139, 192, 0.9) 100%);
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

#information h1 {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: calc(20vh - 3vh);
  /* タイトルとインジケーターの高さを引いた値に調整 */
}

.carousel-slide {
  display: flex;
  align-items: center;
  height: 80%;
}

.carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: absolute;
  left: 100%;
  /* 画面の右側から開始 */
  opacity: 0;
}

.carousel-item.active {
  left: 0;
  /* アクティブなスライドを画面内に */
  transform: translateX(0);
  opacity: 1;
}

#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 3vw;
  /* ボタンのサイズを調整 */
  height: 3vw;
  /* ボタンのサイズを調整 */
}

#prevBtn {
  left: 10vw;
}

#nextBtn {
  right: 10vw;
}

#prevBtn img,
#nextBtn img {
  width: 100%;
  height: auto;
}

.carousel-indicators {
  position: absolute;
  bottom: 1vh;
  left: 0;
  right: 0;
  text-align: center;
}

.carousel-indicator {
  display: inline-block;
  width: 1vw;
  height: 1vw;
  margin: 0 0.5vw;
  background-color: #004384;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: #007bff;
}

@media (max-width: 767px) {
  #information {
    height: 25vh;
  }

  .carousel-container {
    width: 70%;
    margin: 0 auto;
  }

  #prevBtn {
    left: -5vw;
  }

  #nextBtn {
    right: -5vw;
  }
}

/* information end */

/* main-visual end */

/* value */
#value {
  height: 115vh;
  position: relative;
  background-image: linear-gradient(to bottom, #2E8BC0 0%, #FFFFFF 100%)
}

.value-title {
  padding-top: 15vh;
}

.sub {
  width: 20%;
  height: fit-content;
  border-radius: 20px;
  background: #007bff;
  color: #ffffff;
  padding: 0;
}

@media (max-width: 767px) {
  .wrapper2 {
    flex-direction: column;
  }

  .wrapper2 {
    margin-bottom: 2vh;
  }

  .sub {
    width: 80%;
  }

}

@media (min-width: 768px) and (max-width: 1199px) {
  .passport-value {
    width: 60%;
    flex-direction: column;
  }
}

canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* value end */

/* area guide */
#area_guide {
  background-image: linear-gradient(180deg, rgba(114, 184, 255, 0.875) 25%, rgba(65, 164, 253, 0.875));
  height: 220vh;
}

.area_guide {
  color: #ffffff;
}

.area {
  height: 30vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.text-area h1 {
  width: fit-content;
  margin: 2vh auto;
}

.text-area p {
  width: 80%;
  margin: 2vh auto 0;
}

@media (max-width: 767px) {
  .text-area {
    width: 100%;
  }
}

.area img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0%;
  z-index: 1;
  object-fit: cover;
  display: block;
}

/* area guide end */

/* animals */
#animals {
  background-image: linear-gradient(180deg, rgba(65, 164, 253, 0.875), #005073);
  height: 130vh;
}

.wrapper3 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2vh 0 2vh;
  position: relative;
}


.animals {
  position: relative;
  color: #ffffff;
  width: 350px;
  height: 350px;
  border: 4px solid #72b8ff6e;
  background-size: cover;
  background-position: center center;
  z-index: 3;
  animation: bubble 30s infinite ease-in-out;
}

@keyframes bubble {

  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }

  7% {
    border-radius: 51% 49% 54% 46%/52% 54% 46% 48%;
  }

  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }

  21% {
    border-radius: 47% 53% 46% 54%/49% 65% 35% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }

  35% {
    border-radius: 57% 43% 47% 53%/55% 54% 46% 45%;
  }

  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }

  49% {
    border-radius: 61% 39% 60% 40%/66% 44% 56% 34%;
  }

  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }

  63% {
    border-radius: 55% 45% 50% 50%/63% 59% 41% 37%;
  }

  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }

  77% {
    border-radius: 48% 52% 42% 58%/53% 64% 36% 47%;
  }

  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }

  91% {
    border-radius: 53% 47% 52% 48%/40% 59% 41% 60%;
  }
}


.animals:hover {
  border-radius: 50%;
}

.animals.text-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animals-text h1 {
  white-space: nowrap;
}

.animals-text p {
  white-space: nowrap;
  width: fit-content;
}

.whale-shark {
  background-image: url(./img/content/whale_shark.jpg);
}

.turtle {
  background-image: url(./img/content/turtle.jpg);
}

.dolphin {
  background-image: url(./img/content/dolphin.jpg);
}

.penguin {
  background-image: url(./img/content/penguin2.jpg);
}

.jellyfish {
  background-image: url(./img/content/jellyfish.jpg);
}

.clownfish {
  background-image: url(./img/content/clownfish.jpg);
}

.clione {
  background-image: url(./img/content/clione.jpg);
}

.itou {
  background-image: url(./img/content/itou.jpg);
}

#bubble1,
#bubble2 {
  position: absolute;
}

#bubble1 {
  top: 10%;
  left: 0%;
}

#bubble2 {
  top: 20%;
  right: 0%;
}

/* モーダルの基本スタイル */
.modal {
  display: none;
  /* デフォルトでは非表示 */
  position: fixed;
  /* 画面に固定 */
  z-index: 9999;
  /* 他の要素の上に表示 */
  left: 0;
  top: 0;
  width: 100%;
  /* 全幅 */
  height: 100%;
  /* 全高 */
  overflow: hidden;
  background-color: rgba(0, 51, 102, 0.4);
  /* 背景色（半透明） */
}

/* モーダルのコンテンツ */
.modal-content {
  background-color: #72b8ff6e;
  margin: 5vh auto;
  /* 上下左右中央に配置 */
  padding: 1vh 1vw;
  width: 60%;
  height: auto;
  max-height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1%;
}

.modal-content-text {
  position: absolute;
  bottom: 5%;
  margin: 0 auto;
  padding: 0 1vw;
  width: 100%;
  color: #ffffff;
}

.modal-content img {
  width: 100%;
  height: auto;
  max-height: 85vh;
  display: block;
  border-radius: 1%;
}

/* 閉じるボタン */
.modal-close {
  position: absolute;
  background: #003366;
  border: 4px solid #00bfff;
  color: #ffffff;
  top: -1%;
  right: -1%;
  font-size: 28px;
  font-weight: bold;
  height: 48px;
  width: 48px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;

}

.modal-close:hover,
.modal-close:focus {
  color: #ffffff;
  background: #00bfff;
  border: 4px solid #003666;
  transition: all .3s ease;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1418px) {
  #animals {
    height: auto;
  }

  .wrapper3 {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
  }

  .animals {
    margin: 2vh auto;
    width: 80%;
  }

  .modal {
    height: 100vh;
  }

  .modal-content {
    width: 80%;
    border-radius: 1% 1% 0 0;
  }

  .modal-content-text {
    top: 100%;
    border-radius: 0 0 1% 1%;
    height: fit-content;
    background-image: linear-gradient(0deg, rgba(114, 184, 255, 1), rgb(1, 196, 203, 1));
  }
}

/* animals end */


/* access */

#access {
  background-image: linear-gradient(180deg, #005073, #00344b);
  color: #ffffff;
}

.access-container {
  width: 80%;
  height: 70%;
  align-items: center;
}

.access-column {
  width: 100%;
  margin-bottom: 4vh;
  align-items: center;
  justify-content: flex-start;
}

.access-column img {
  width: 48px;
  height: 48px;
}

.access-column-sub {
  text-align: start;
}

.access-column-sub p {
  width: 100%;
  margin: 0 auto;
  font-weight: bolder;
}

.access-row {
  align-items: center;
}

.access-row-title {
  margin: 10vh auto 1vh;
  justify-content: center;
  align-items: center;
}


.blue {
  color: greenyellow;
  border-bottom: 4px solid yellow;
}

iframe {
  width: 100%;
  height: 60vh;
  border-radius: 50px;
  z-index: 3;
}

@media (max-width: 767px) {
  #access {
    height: 140vh;
  }

  .access-container {
    width: 100%;
  }

  iframe {
    height: 40vh;
    aspect-ratio: 16/9;
  }
}

/* access end */

/* faq */
#faq {
  background-image: linear-gradient(180deg, #00344b, #005073);
  position: relative;
  height: 110vh;
  color: #ffffff;
}

.accordion-wrap {
  border-bottom: 4px solid #ffffff;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 872px) {
  .accordion-wrap {
    width: 100%;
  }
}

.accordion-item {
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 30px;
}

.accordion-header {
  transition: ease-in-out 100ms;
}

.accordion-header:hover {
  color: #ffc195;
}

.accordion-text {
  width: 100%;
  margin: 0 auto;
  display: none;
  padding-top: 5px;
  padding-bottom: 20px;
}

.accordion-text p{
  width: 80%;
  margin: 0 auto;
}

.fa {
  transition: ease-in-out 300ms;
}

.rotate-fa {
  transform: rotate(180deg);
}


.accordion-header .fa {
  color: #ffc195;
  float: right;
  line-height: 35px;
}

.accordion-gold {
  color: #ffc195;
}

.accordion-no-bar {
  border-bottom: 0;
}

/* faq end */


/* privacy policy */
#main-visual-privacy {
  background-image: linear-gradient(to bottom, #86cef7 0%, #FFFFFF 100%);
  height: 70vh;
  padding-top: 0;
  position: relative;
}

.privacy-main-heading h1{
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#main-visual-privacy img{
  position: absolute;
  left: 1%;
  width: 19.531vw;
  height: 13.021vw;
}

#privacy {
  height: auto;
  background-image: linear-gradient(180deg, rgba(114, 184, 255, 0.875), #005073);
  color: #ffffff;
  padding-bottom: 10vh;
}

#privacy p{
  width: 80%;
  margin: 2vh auto;
}

.privacy-heading{
  margin-top: 5vh;
}

.wrapper1 p{
  text-align: start;
}

.counter p{
  text-align: center;
}
/* privacy policy end */


/* footer */
footer {
  height: 50vh;
  background: linear-gradient(to bottom, #005073 0%, #000033 100%);
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

footer a:hover {
  color: #ffc195;
}

#footer-img1,
#footer-img2 {
  position: absolute;
  z-index: -1;
}

#footer-img1 {
  left: 0;
  top: 1vh;
}

#footer-img2 {
  right: 0;
  top: 4vh;
}

.footer-wrapper2 {
  width: 80%;
  margin-top: 2vh;
  align-items: center;
}

.footer-wrapper1 {
  width: 50%;
  margin-right: 1vh;
  align-items: center;
}

.footer-wrapper1 h1 {
  color: #ffc195;
  white-space: nowrap;
}

@media (max-width: 767px) {
  footer {
    height: 50vh;
  }

  .footer-wrapper1 {
    width: 100%;
    margin-bottom: 2vh;
  }

  #footer-img1 {
    top: 5%;
  }

  #footer-img2 {
    display: none;
  }
}

/* footer end */


/* リンクを右下に固定し、初期状態では非表示に */
#page-top {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 999;
  opacity: 0;
  /* 初期状態では透明 */
  transform: translateY(100px);
  /* 初期状態では下に隠れる */
  transition: opacity 0.3s, transform 0.3s;
  /* アニメーションの設定 */
}

/* ボタン内のテキストと画像のスタイル */
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  text-decoration: none;
}

/* ボタン内の画像のスタイル */
#page-top img {
  width: 100%;
  height: 100%;
}

/* ホバー時のスタイル */
#page-top a:hover {
  opacity: 0.5;
}

/* スクロール時にボタンを表示 */
#page-top.show {
  opacity: 1;
  transform: translateY(0);
  /* 元の位置に戻す */
}

.circle {
  animation: change 5s linear infinite;
  /* 5秒アニメーションをループ */
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@keyframes change {
  0% {
    background-image: url(./img/icon/button/button_top_arrow_004384.png);
  }

  25% {
    background-image: url(./img/icon/button/button_top_arrow_007bff.png);
  }

  50% {
    background-image: url(./img/icon/button/button_top_arrow_fff.png);
  }

  75% {
    background-image: url(./img/icon/button/button_top_arrow_007bff.png);
  }

  100% {
    background-image: url(./img/icon/button/button_top_arrow_004384.png);
  }
}